<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link rel="stylesheet" href="/public/css/reg.css"> --}}
  <title>Registration</title>
</head>

<body>
  <div class="theHeading">
    <h1>REGISTRATIONS</h1>
  </div>

  <div class="main">
    {{#if messages}}
    <p class="alert">{{messages}}</p>
    {{/if}}
    <p>The registrations that can be taken are registration No from Cape Town(CA), Paarl (CJ) & Stellenbosch(CL) only. <br>Please enter a Registration No with this format <span class="five">CA 12345 </span> or <span class="six">CA 123
        123</span> </p>
   <form action="/reg_numbers" method="POST">
    <label for="reg">Registration No:</label>
    <input type="text" id="reg" name="regNo" placeholder="CA 12345 or CA 123 456" class="regNo"><br>
    <button type="submit" class="theButton">ADD</button><br>
   </form>


    <br> 
    <form action="/filteredReg" method="POST">
    <label class="container">Cape Town
      <input type="radio"  name="town" value="CA">
      <span class="checkmark"></span>
    </label>
    <label class="container">Paarl
      <input type="radio" name="town" value="CJ">
      <span class="checkmark"></span>
    </label>
    <label class="container">Stellenbosch
      <input type="radio" name="town" value="CL">
      <span class="checkmark"></span>
    </label>
    <label class="container">All
      <input type="radio" name="town" value="ALL">
      <span class="checkmark"></span>
    </label> <br>
    <br>
    <button type="submit" class="show">SHOW</button></form><br>
    <div class="btn-grp">
     

      <form action="/reset" method="POST"><button type="submit" class="clear">CLEAR</button></form> 
    </div>

  </div><br>

  <ul class="dispay">
    
    {{#each regNumbers}}
    <span class="numberPlate">{{reg_no}}</span>
    {{/each}}
  </ul>

  <ul class="dispayFilter">
    {{#each regFilter}}
    <span class="numberPlate">{{reg_no}}</span>
    {{/each}}
  </ul>


</body>

</html>